<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.dock/menu.application.title" opened="true">
        <item view="dock_User.list" title="msg://com.company.dock.view.user/UserListView.title"/>
        <item view="dock_Person.list" title="msg://com.company.dock.view.person/personListView.title"/>
    </menu>

</menu-config>